# Autodetect text files
* text=auto

# ...Unless the name matches the following
# overriding patterns

# Definitively text files 
*.txt text
*.pas text
*.dfm text
*.dpr text
*.dpk text
*.dproj text
*.groupproj text
*.md text
*.proto text

# Ensure those won't be messed up with
*.res binary